<%- include("./partials/header") %>
<h1>Enter a Note</h1>

<form method="POST" action="/notes">
        
<textarea name="content"></textarea> <br>
    <input type="submit" value="Submit">
</form>

<%- include("./partials/footer") %>

