<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Express Basics</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Thank you <%= fullName %></h1>
        <p>
            You said: <%= message %> <br>
            Your favourite color is: <%= favoriteColor %> <br>
            Your favourite day is: <%= favoriteDay %>
        </p>
    </body>
</html>