<%- include('./partials/header') %>
<h1>Input Form</h1>

<form action="/formPost" method="POST">
    <label for="field">Title</label>
    <input name="field" type="text">
    <button type="submit">Submit</button>
</form>

<%- include('./partials/footer') %>